<div class="bg-white rounded-lg outline outline-2 outline-offset-[-2px] outline-gray-300 inline-flex flex-col justify-start items-start overflow-hidden">
  <div class="w-[1440px] h-[3992px] relative bg-gray-50 border-gray-200">
    <div class="w-[1440px] h-[700px] left-0 top-0 absolute bg-gradient-to-r from-green-50 to-blue-50 border-gray-200">
      <div class="w-[1280px] h-96 left-[80px] top-[173.25px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-96 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-[592px] h-96 left-0 top-0 absolute bg-black/0 border-gray-200">
            <div class="w-[780px] h-60 left-0 top-0 absolute justify-start"><span class="text-gray-800 text-6xl font-normal font-['Quicksand'] leading-[60px]">Rescatistas</span><span class="text-green-500 text-6xl font-normal font-['Quicksand'] leading-[60px]"> </span><span class="text-fuchsia-700 text-6xl font-normal font-['Quicksand'] leading-[60px]">Independientes</span><span class="text-blue-500 text-6xl font-normal font-['Quicksand'] leading-[60px]"> Contra el Maltrato Animal</span></div>
            <div class="w-[584px] h-24 left-0 top-[234px] absolute justify-start text-gray-600 text-xl font-normal font-['Quicksand'] leading-loose">Únete a nuestro equipo de estudiantes comprometidos con el rescate, cuidado animal y protección del medio ambiente. Tu servicio social puede marcar la diferencia.</div>
            <div class="w-[592px] h-16 left-0 top-[355.50px] absolute bg-black/0 border-gray-200">
              <div class="w-56 h-16 left-0 top-[0.25px] absolute bg-fuchsia-700 rounded-full border-gray-200">
                <div class="w-4 h-6 left-[32px] top-[20px] absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-4 left-0 top-[2.25px] absolute inline-flex justify-center items-center">
                    <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                      <div class="w-4 h-4 left-0 top-[1.13px] absolute bg-white"></div>
                    </div>
                  </div>
                </div>
                <div class="w-36 h-7 left-[58px] top-[20px] absolute text-center justify-start text-white text-lg font-normal font-['Quicksand']">Únete al Equipo</div>
              </div>
              <div class="w-44 h-16 left-[241.22px] top-0 absolute bg-black/0 rounded-full outline outline-2 outline-offset-[-2px] outline-blue-500">
                <div class="w-3.5 h-6 left-[34px] top-[20px] absolute bg-black/0 border-gray-200">
                  <div class="w-3.5 h-4 left-0 top-[2.25px] absolute inline-flex justify-center items-center">
                    <div class="w-3.5 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                      <div class="w-3.5 h-4 left-0 top-[1.12px] absolute bg-blue-500"></div>
                    </div>
                  </div>
                </div>
                <div class="w-24 h-7 left-[55.50px] top-[20px] absolute text-center justify-start text-blue-500 text-lg font-normal font-['Quicksand']">Ver Video</div>
              </div>
            </div>
          </div>
          <div class="w-[592px] h-96 left-[640px] top-[32.75px] absolute bg-black/0 border-gray-200">
            <img class="w-[508px] h-72 left-[92px] top-[45px] absolute rounded-2xl shadow-[0px_25px_50px_0px_rgba(0,0,0,0.25)] border-gray-200" src="https://placehold.co/508x299" />
            <div class="w-56 h-20 left-[8px] top-[316px] absolute bg-white rounded-xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
              <div class="w-48 h-11 left-[16px] top-[16px] absolute bg-black/0 border-gray-200">
                <div class="w-8 h-10 left-0 top-[2px] absolute bg-fuchsia-700 rounded-full border-gray-200">
                  <div class="w-4 h-5 left-[8px] top-[10px] absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[2px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-3.5 left-0 top-[1.32px] absolute bg-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-36 h-11 left-[44px] top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-11 h-6 left-0 top-0 absolute justify-start text-gray-800 text-base font-normal font-['Quicksand'] leading-normal">500+</div>
                  <div class="w-36 h-5 left-0 top-[24px] absolute justify-start text-gray-600 text-sm font-normal font-['Quicksand'] leading-tight">Animales Rescatados</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-[608px] left-0 top-[700px] absolute bg-white border-gray-200">
      <div class="w-[1280px] h-96 left-[80px] top-[80px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-28 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-80 h-11 left-[464.45px] top-0 absolute text-center justify-start text-gray-800 text-4xl font-normal font-['Quicksand'] leading-10">¿Quiénes Somos?</div>
          <div class="w-[758px] h-14 left-[239.86px] top-[56px] absolute text-center justify-start text-gray-600 text-xl font-normal font-['Quicksand'] leading-7">Somos un equipo de rescatistas independientes dedicados al bienestar animal y la protección del medio ambiente</div>
        </div>
        <div class="w-[1232px] h-64 left-[24px] top-[176px] absolute bg-black/0 border-gray-200">
          <div class="w-96 h-64 left-0 top-0 absolute bg-green-50 rounded-2xl border-gray-200">
            <div class="w-16 h-16 left-[162.66px] top-[32px] absolute bg-fuchsia-700 rounded-full border-gray-200">
              <div class="w-6 h-8 left-[20px] top-[16px] absolute bg-black/0 border-gray-200">
                <div class="w-6 h-6 left-0 top-[4px] absolute inline-flex justify-center items-center">
                  <div class="w-6 h-6 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-6 h-6 left-0 top-0 absolute bg-white"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-8 left-[32px] top-[120px] absolute bg-black/0 border-gray-200">
              <div class="w-20 h-8 left-[126.73px] top-[1px] absolute text-center justify-start text-gray-800 text-2xl font-normal font-['Quicksand']">Misión</div>
            </div>
            <div class="w-80 h-16 left-[32px] top-[168px] absolute bg-black/0 border-gray-200">
              <div class="w-80 h-6 left-[7.22px] top-[2px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">Rescatar, rehabilitar y encontrar hogares</div>
              <div class="w-72 h-6 left-[13.16px] top-[26px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">para animales en situación de maltrato,</div>
              <div class="w-72 h-6 left-[19.77px] top-[50px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">promoviendo la conciencia ambiental.</div>
            </div>
          </div>
          <div class="w-96 h-64 left-[421.33px] top-0 absolute bg-blue-50 rounded-2xl border-gray-200">
            <div class="w-16 h-16 left-[162.66px] top-[32px] absolute bg-blue-500 rounded-full border-gray-200">
              <div class="w-7 h-8 left-[18.50px] top-[16px] absolute bg-black/0 border-gray-200">
                <div class="w-7 h-6 left-0 top-[4px] absolute inline-flex justify-center items-center">
                  <div class="w-7 h-6 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-7 h-5 left-0 top-[1.50px] absolute bg-white"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-8 left-[32px] top-[120px] absolute bg-black/0 border-gray-200">
              <div class="w-20 h-8 left-[128.44px] top-[1px] absolute text-center justify-start text-gray-800 text-2xl font-normal font-['Quicksand']">Visión</div>
            </div>
            <div class="w-80 h-16 left-[32px] top-[168px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-6 left-[25.22px] top-[2px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">Un mundo donde todos los animales</div>
              <div class="w-80 h-6 left-[0.91px] top-[26px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">reciban el cuidado que merecen y el medio</div>
              <div class="w-48 h-6 left-[69.16px] top-[50px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">ambiente sea respetado.</div>
            </div>
          </div>
          <div class="w-96 h-64 left-[842.66px] top-0 absolute bg-orange-50 rounded-2xl border-gray-200">
            <div class="w-16 h-16 left-[162.67px] top-[32px] absolute bg-orange-500 rounded-full border-gray-200">
              <div class="w-7 h-8 left-[17px] top-[16px] absolute bg-black/0 border-gray-200">
                <div class="w-7 h-6 left-0 top-[4px] absolute inline-flex justify-center items-center">
                  <div class="w-7 h-6 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-7 h-4 left-0 top-[3px] absolute bg-white"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-8 left-[32px] top-[120px] absolute bg-black/0 border-gray-200">
              <div class="w-24 h-8 left-[118.73px] top-[1px] absolute text-center justify-start text-gray-800 text-2xl font-normal font-['Quicksand']">Valores</div>
            </div>
            <div class="w-80 h-16 left-[32px] top-[168px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-6 left-[13.36px] top-[2px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">Compasión, responsabilidad, trabajo en</div>
              <div class="w-80 h-6 left-[3.41px] top-[26px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">equipo y compromiso con la vida animal y</div>
              <div class="w-20 h-6 left-[123.47px] top-[50px] absolute text-center justify-start text-gray-600 text-base font-normal font-['Quicksand']">el planeta.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-[740px] left-0 top-[1308px] absolute bg-gray-50 border-gray-200">
      <div class="w-[1280px] h-[580px] left-[80px] top-[80px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-20 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-80 h-11 left-[455.22px] top-0 absolute text-center justify-start text-gray-800 text-4xl font-normal font-['Quicksand'] leading-10">Nuestros Servicios</div>
          <div class="w-[497px] h-7 left-[370.05px] top-[56px] absolute text-center justify-start text-gray-600 text-xl font-normal font-['Quicksand'] leading-7">Actividades que realizamos para el bienestar animal</div>
        </div>
        <div class="w-[1232px] h-96 left-[24px] top-[148px] absolute bg-black/0 border-gray-200">
          <div class="w-96 h-48 left-0 top-0 absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
            <div class="w-12 h-12 left-[24px] top-[24px] absolute bg-red-100 rounded-full border-gray-200">
              <div class="w-5 h-7 left-[14px] top-[10px] absolute bg-black/0 border-gray-200">
                <div class="w-5 h-5 left-0 top-[3.50px] absolute inline-flex justify-center items-center">
                  <div class="w-5 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-5 h-5 left-0 top-0 absolute bg-red-500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-7 left-[24px] top-[88px] absolute bg-black/0 border-gray-200">
              <div class="w-60 h-7 left-0 top-[1px] absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand']">Rescates de Emergencia</div>
            </div>
            <div class="w-80 h-12 left-[24px] top-[128px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-6 left-0 top-[2px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">Respuesta rápida ante situaciones de</div>
              <div class="w-56 h-6 left-0 top-[26px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">maltrato y abandono animal.</div>
            </div>
          </div>
          <div class="w-96 h-48 left-[421.33px] top-0 absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
            <div class="w-12 h-12 left-[24px] top-[24px] absolute bg-blue-100 rounded-full border-gray-200">
              <div class="w-6 h-7 left-[12.75px] top-[10px] absolute bg-black/0 border-gray-200">
                <div class="w-6 h-5 left-0 top-[3.50px] absolute inline-flex justify-center items-center">
                  <div class="w-6 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-5 h-5 left-[1.25px] top-0 absolute bg-blue-500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-7 left-[24px] top-[88px] absolute bg-black/0 border-gray-200">
              <div class="w-40 h-7 left-0 top-[1px] absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand']">Atención Médica</div>
            </div>
            <div class="w-80 h-12 left-[24px] top-[128px] absolute bg-black/0 border-gray-200">
              <div class="w-80 h-6 left-0 top-[2px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">Cuidado veterinario integral para animales</div>
              <div class="w-24 h-6 left-0 top-[26px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">rescatados.</div>
            </div>
          </div>
          <div class="w-96 h-48 left-[842.66px] top-0 absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
            <div class="w-12 h-12 left-[24px] top-[24px] absolute bg-green-100 rounded-full border-gray-200">
              <div class="w-6 h-7 left-[12.75px] top-[10px] absolute bg-black/0 border-gray-200">
                <div class="w-6 h-5 left-0 top-[3.50px] absolute inline-flex justify-center items-center">
                  <div class="w-6 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-6 h-5 left-0 top-0 absolute bg-green-500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-7 left-[24px] top-[88px] absolute bg-black/0 border-gray-200">
              <div class="w-52 h-7 left-0 top-[1px] absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand']">Resguardo Temporal</div>
            </div>
            <div class="w-80 h-12 left-[24px] top-[128px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-6 left-0 top-[2px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">Refugio seguro mientras encontramos</div>
              <div class="w-44 h-6 left-0 top-[26px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">hogares permanentes.</div>
            </div>
          </div>
          <div class="w-96 h-48 left-0 top-[232px] absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
            <div class="w-12 h-12 left-[24px] top-[24px] absolute bg-purple-100 rounded-full border-gray-200">
              <div class="w-6 h-7 left-[11.50px] top-[10px] absolute bg-black/0 border-gray-200">
                <div class="w-6 h-5 left-0 top-[3.50px] absolute inline-flex justify-center items-center">
                  <div class="w-6 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-6 h-4 left-0 top-[1.25px] absolute bg-purple-500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-7 left-[24px] top-[88px] absolute bg-black/0 border-gray-200">
              <div class="w-56 h-7 left-0 top-[1px] absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand']">Campañas Educativas</div>
            </div>
            <div class="w-80 h-12 left-[24px] top-[128px] absolute bg-black/0 border-gray-200">
              <div class="w-80 h-6 left-0 top-[2px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">Programas de concientización en escuelas y</div>
              <div class="w-28 h-6 left-0 top-[26px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">comunidades.</div>
            </div>
          </div>
          <div class="w-96 h-48 left-[421.33px] top-[232px] absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
            <div class="w-12 h-12 left-[24px] top-[24px] absolute bg-yellow-100 rounded-full border-gray-200">
              <div class="w-5 h-7 left-[14px] top-[10px] absolute bg-black/0 border-gray-200">
                <div class="w-5 h-5 left-0 top-[3.50px] absolute inline-flex justify-center items-center">
                  <div class="w-5 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-5 h-5 left-0 top-0 absolute bg-yellow-500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-7 left-[24px] top-[88px] absolute bg-black/0 border-gray-200">
              <div class="w-60 h-7 left-0 top-[1px] absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand']">Brigadas de Vacunación</div>
            </div>
            <div class="w-80 h-12 left-[24px] top-[128px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-6 left-0 top-[2px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">Programas de vacunación masiva para</div>
              <div class="w-48 h-6 left-0 top-[26px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">prevenir enfermedades.</div>
            </div>
          </div>
          <div class="w-96 h-48 left-[842.66px] top-[232px] absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
            <div class="w-12 h-12 left-[24px] top-[24px] absolute bg-pink-100 rounded-full border-gray-200">
              <div class="w-5 h-7 left-[14px] top-[10px] absolute bg-black/0 border-gray-200">
                <div class="w-5 h-5 left-0 top-[3.50px] absolute inline-flex justify-center items-center">
                  <div class="w-5 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-5 h-5 left-0 top-0 absolute bg-pink-500"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80 h-7 left-[24px] top-[88px] absolute bg-black/0 border-gray-200">
              <div class="w-32 h-7 left-0 top-[1px] absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand']">Esterilización</div>
            </div>
            <div class="w-80 h-12 left-[24px] top-[128px] absolute bg-black/0 border-gray-200">
              <div class="w-80 h-6 left-0 top-[2px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">Control poblacional responsable para reducir</div>
              <div class="w-24 h-6 left-0 top-[26px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand']">el abandono.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-[544px] left-0 top-[2048px] absolute bg-white border-gray-200">
      <div class="w-[1280px] h-96 left-[80px] top-[80px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-96 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-[592px] h-96 left-0 top-0 absolute bg-black/0 border-gray-200">
            <div class="w-[472px] h-11 left-0 top-0 absolute justify-start text-gray-800 text-4xl font-normal font-['Quicksand'] leading-10">¿Por Qué Unirte a RIECMA?</div>
            <div class="w-[592px] h-56 left-0 top-[64px] absolute bg-black/0 border-gray-200">
              <div class="w-[592px] h-14 left-0 top-0 absolute bg-black/0 border-gray-200">
                <div class="w-9 h-10 left-0 top-0 absolute bg-fuchsia-700 rounded-full border-gray-200">
                  <div class="w-5 h-5 left-[8px] top-[10px] absolute bg-black/0 border-gray-200">
                    <div class="w-5 h-4 left-0 top-[2px] absolute inline-flex justify-center items-center">
                      <div class="w-5 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-5 h-3.5 left-0 top-[1px] absolute bg-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-[514.75px] h-14 left-[52px] top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-52 h-7 left-0 top-0 absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand'] leading-7">Servicio Social Válido</div>
                  <div class="w-[515px] h-6 left-0 top-[36px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand'] leading-normal">Cumple con tus horas de servicio social mientras haces la diferencia.</div>
                </div>
              </div>
              <div class="w-[592px] h-14 left-0 top-[84px] absolute bg-black/0 border-gray-200">
                <div class="w-9 h-10 left-0 top-0 absolute bg-blue-500 rounded-full border-gray-200">
                  <div class="w-5 h-5 left-[8px] top-[10px] absolute bg-black/0 border-gray-200">
                    <div class="w-5 h-4 left-0 top-[2px] absolute inline-flex justify-center items-center">
                      <div class="w-5 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-5 h-4 left-0 top-0 absolute bg-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-[487.81px] h-14 left-[52px] top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-48 h-7 left-0 top-0 absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand'] leading-7">Experiencia Práctica</div>
                  <div class="w-[488px] h-6 left-0 top-[36px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand'] leading-normal">Desarrolla habilidades veterinarias y de conservación ambiental.</div>
                </div>
              </div>
              <div class="w-[592px] h-14 left-0 top-[168px] absolute bg-black/0 border-gray-200">
                <div class="w-8 h-10 left-0 top-0 absolute bg-orange-500 rounded-full border-gray-200">
                  <div class="w-4 h-5 left-[8px] top-[10px] absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[2px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-3.5 left-0 top-[1.32px] absolute bg-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-96 h-14 left-[48px] top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-36 h-7 left-0 top-0 absolute justify-start text-gray-800 text-xl font-normal font-['Quicksand'] leading-7">Impacto Social</div>
                  <div class="w-96 h-6 left-0 top-[36px] absolute justify-start text-gray-600 text-base font-normal font-['Quicksand'] leading-normal">Contribuye directamente al bienestar animal y ambiental.</div>
                </div>
              </div>
            </div>
            <div class="w-[592px] h-14 left-0 top-[324px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-14 left-0 top-0 absolute bg-fuchsia-700 rounded-full border-gray-200">
                <div class="w-5 h-6 left-[32px] top-[18px] absolute bg-black/0 border-gray-200">
                  <div class="w-5 h-4 left-0 top-[2.25px] absolute inline-flex justify-center items-center">
                    <div class="w-5 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                      <div class="w-5 h-4 left-0 top-0 absolute bg-white"></div>
                    </div>
                  </div>
                </div>
                <div class="w-48 h-7 left-[60.25px] top-[18px] absolute text-center justify-start text-white text-lg font-normal font-['Quicksand']">Quiero Ser Voluntario</div>
              </div>
            </div>
          </div>
          <div class="w-[592px] h-96 left-[640px] top-0 absolute bg-black/0 border-gray-200">
            <img class="w-[592px] h-96 left-0 top-0 absolute rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200" src="https://placehold.co/592x384" />
            <div class="w-40 h-20 left-[410.27px] top-[24px] absolute bg-white rounded-xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
              <div class="w-32 h-12 left-[16px] top-[16px] absolute bg-black/0 border-gray-200">
                <div class="w-14 h-8 left-[36.97px] top-0 absolute text-center justify-start text-green-500 text-2xl font-normal font-['Quicksand'] leading-loose">150+</div>
                <div class="w-32 h-5 left-0 top-[32px] absolute text-center justify-start text-gray-600 text-sm font-normal font-['Quicksand'] leading-tight">Voluntarios Activos</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-[572px] left-0 top-[2592px] absolute bg-gray-50 border-gray-200">
      <div class="w-[1280px] h-96 left-[80px] top-[80px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-20 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-96 h-11 left-[421.92px] top-0 absolute text-center justify-start text-gray-800 text-4xl font-normal font-['Quicksand'] leading-10">Requisitos para Unirte</div>
          <div class="w-[516px] h-7 left-[360.50px] top-[56px] absolute text-center justify-start text-gray-600 text-xl font-normal font-['Quicksand'] leading-7">Lo que necesitas para formar parte de nuestro equipo</div>
        </div>
        <div class="w-[896px] h-64 left-[192px] top-[148px] absolute bg-black/0 border-gray-200">
          <div class="w-[896px] h-64 left-0 top-0 absolute bg-black/0 border-gray-200">
            <div class="w-96 h-64 left-0 top-0 absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
              <div class="w-96 h-8 left-[32px] top-[32px] absolute bg-black/0 border-gray-200">
                <div class="w-6 h-8 left-0 top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-6 h-6 left-0 top-[4px] absolute inline-flex justify-center items-center">
                    <div class="w-6 h-6 relative bg-black/0 border-gray-200 overflow-hidden">
                      <div class="w-6 h-6 left-0 top-0 absolute bg-green-500"></div>
                    </div>
                  </div>
                </div>
                <div class="w-56 h-8 left-[36px] top-[1px] absolute justify-start text-gray-800 text-2xl font-normal font-['Quicksand']">Requisitos Básicos</div>
              </div>
              <div class="w-96 h-36 left-[32px] top-[88px] absolute bg-black/0 border-gray-200">
                <div class="w-96 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-5 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-5 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-5 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-5 h-4 left-0 top-0 absolute bg-blue-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-80 h-6 left-[32px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Estudiante de preparatoria o universidad</div>
                </div>
                <div class="w-96 h-6 left-0 top-[40px] absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-4 left-0 top-0 absolute bg-blue-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-60 h-6 left-[28px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Disponibilidad de tiempo flexible</div>
                </div>
                <div class="w-96 h-6 left-0 top-[80px] absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-3.5 left-0 top-[1.32px] absolute bg-blue-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-60 h-6 left-[28px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Amor genuino por los animales</div>
                </div>
                <div class="w-96 h-6 left-0 top-[120px] absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-3.5 left-0 top-[1px] absolute bg-blue-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-40 h-6 left-[28px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Conciencia ambiental</div>
                </div>
              </div>
            </div>
            <div class="w-96 h-64 left-[464px] top-0 absolute bg-white rounded-2xl shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
              <div class="w-96 h-8 left-[32px] top-[32px] absolute bg-black/0 border-gray-200">
                <div class="w-6 h-8 left-0 top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-6 h-6 left-0 top-[4px] absolute inline-flex justify-center items-center">
                    <div class="w-6 h-6 relative bg-black/0 border-gray-200 overflow-hidden">
                      <div class="w-6 h-6 left-0 top-0 absolute bg-orange-500"></div>
                    </div>
                  </div>
                </div>
                <div class="w-32 h-8 left-[36px] top-[1px] absolute justify-start text-gray-800 text-2xl font-normal font-['Quicksand']">Beneficios</div>
              </div>
              <div class="w-96 h-36 left-[32px] top-[88px] absolute bg-black/0 border-gray-200">
                <div class="w-96 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-4 left-0 top-0 absolute bg-orange-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-56 h-6 left-[28px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Certificación de servicio social</div>
                </div>
                <div class="w-96 h-6 left-0 top-[40px] absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-4 left-0 top-0 absolute bg-orange-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-52 h-6 left-[28px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Capacitación especializada</div>
                </div>
                <div class="w-96 h-6 left-0 top-[80px] absolute bg-black/0 border-gray-200">
                  <div class="w-5 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-5 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-5 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-5 h-4 left-0 top-0 absolute bg-orange-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-60 h-6 left-[32px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Red de contactos profesionales</div>
                </div>
                <div class="w-96 h-6 left-0 top-[120px] absolute bg-black/0 border-gray-200">
                  <div class="w-4 h-6 left-0 top-0 absolute bg-black/0 border-gray-200">
                    <div class="w-4 h-4 left-0 top-[4px] absolute inline-flex justify-center items-center">
                      <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                        <div class="w-4 h-4 left-0 top-0 absolute bg-orange-500"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-72 h-6 left-[30px] top-0 absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Experiencia valorada por empleadores</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-[716px] left-0 top-[3164px] absolute bg-gradient-to-r from-fuchsia-700 to-blue-500 border-gray-200">
      <div class="w-[1280px] h-[556px] left-[80px] top-[80px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-20 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-96 h-11 left-[405.58px] top-0 absolute text-center justify-start text-white text-4xl font-normal font-['Quicksand'] leading-10">¡Únete a Nuestra Causa!</div>
          <div class="w-[508px] h-7 left-[364.69px] top-[56px] absolute text-center justify-start text-white text-xl font-normal font-['Quicksand'] leading-7">Comienza tu aventura como rescatista independiente</div>
        </div>
        <div class="w-[672px] h-96 left-[304px] top-[132px] absolute bg-black/0 border-gray-200">
          <div class="w-[672px] h-96 left-0 top-0 absolute bg-white/10 rounded-2xl border-gray-200">
            <div class="w-[608px] h-12 left-[32px] top-[32px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-12 left-0 top-0 absolute bg-white/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-white/30">
                <div class="w-72 h-12 left-[16px] top-0 absolute justify-center text-gray-400 text-base font-normal font-['Quicksand'] leading-normal">Nombre completo</div>
              </div>
              <div class="w-72 h-12 left-[316px] top-0 absolute bg-white/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-white/30">
                <div class="w-72 h-12 left-[16px] top-0 absolute justify-center text-gray-400 text-base font-normal font-['Quicksand'] leading-normal">Correo electrónico</div>
              </div>
            </div>
            <div class="w-[608px] h-12 left-[32px] top-[106px] absolute bg-black/0 border-gray-200">
              <div class="w-72 h-12 left-0 top-0 absolute bg-white/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-white/30">
                <div class="w-32 h-12 left-[12px] top-0 absolute justify-center text-white text-base font-normal font-['Quicksand']">Nivel de estudios</div>
                <div class="w-8 h-8 left-[250px] top-[8px] absolute overflow-hidden">
                  <div class="w-4 h-2.5 left-[8.50px] top-[11.87px] absolute bg-white"></div>
                </div>
              </div>
              <div class="w-72 h-12 left-[316px] top-0 absolute bg-white/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-white/30">
                <div class="w-72 h-12 left-[16px] top-0 absolute justify-center text-gray-400 text-base font-normal font-['Quicksand'] leading-normal">Teléfono</div>
              </div>
            </div>
            <div class="w-[608px] h-32 left-[32px] top-[180px] absolute bg-white/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-white/30 overflow-hidden">
              <div class="w-[608px] h-32 left-[16px] top-[12px] absolute justify-start text-gray-400 text-base font-normal font-['Quicksand'] leading-normal">¿Por qué quieres unirte a RIECMA?</div>
            </div>
            <div class="w-[608px] h-14 left-[32px] top-[332px] absolute bg-white rounded-lg border-gray-200">
              <div class="w-4 h-6 left-[224.30px] top-[18px] absolute bg-black/0 border-gray-200">
                <div class="w-4 h-4 left-0 top-[2.25px] absolute inline-flex justify-center items-center">
                  <div class="w-4 h-4 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-4 h-4 left-0 top-0 absolute bg-fuchsia-700"></div>
                  </div>
                </div>
              </div>
              <div class="w-36 h-7 left-[250.30px] top-[18px] absolute text-center justify-start text-fuchsia-700 text-lg font-normal font-['Quicksand']">Enviar Solicitud</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-28 left-0 top-[3880px] absolute bg-gray-800 border-gray-200">
      <div class="w-[1280px] h-4 left-[80px] top-[48px] absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-4 left-[24px] top-0 absolute bg-black/0 border-gray-200">
          <div class="w-72 h-4 left-0 top-0 absolute bg-black/0 border-gray-200">
            <div class="w-72 h-px left-0 top-0 absolute bg-black/0 border-gray-200"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1440px] h-20 left-0 top-0 absolute bg-white shadow-[0px_10px_15px_0px_rgba(0,0,0,0.10)] shadow-[0px_4px_6px_0px_rgba(0,0,0,0.10)] border-gray-200">
      <div class="w-[1280px] h-20 left-[80px] top-0 absolute bg-black/0 border-gray-200">
        <div class="w-[1232px] h-11 left-[24px] top-[16px] absolute bg-black/0 border-gray-200">
          <div class="w-32 h-11 left-0 top-0 absolute bg-black/0 border-gray-200">
            <div class="w-9 h-11 left-0 top-0 absolute bg-fuchsia-700 rounded-full border-gray-200">
              <div class="w-5 h-6 left-[8px] top-[9px] absolute bg-black/0 border-gray-200">
                <div class="w-5 h-5 left-0 top-[2.50px] absolute inline-flex justify-center items-center">
                  <div class="w-5 h-5 relative bg-black/0 border-gray-200 overflow-hidden">
                    <div class="w-5 h-4 left-0 top-[1.65px] absolute bg-white"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-20 h-8 left-[48px] top-[6px] absolute justify-start text-gray-800 text-2xl font-normal font-['Quicksand'] leading-loose">RIECMA</div>
          </div>
          <div class="w-96 h-10 left-[810.72px] top-[2px] absolute bg-black/0 border-gray-200">
            <div class="w-16 h-6 left-0 top-[8px] absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Nosotros</div>
            <div class="w-16 h-6 left-[100.06px] top-[8px] absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Servicios</div>
            <div class="w-24 h-6 left-[199.02px] top-[8px] absolute justify-start text-gray-700 text-base font-normal font-['Quicksand'] leading-normal">Voluntariado</div>
            <div class="w-24 h-10 left-[328.50px] top-0 absolute bg-fuchsia-700 rounded-full border-gray-200">
              <div class="w-12 h-6 left-[24px] top-[10px] absolute justify-start text-white text-base font-normal font-['Quicksand']">Únete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>